.box-cards-cart{
    flex-grow: 1;
    background-color: #222;
    border: 2px;
}

.title-cart{
    color: #999;
}

.modal-content{
    background: none;
}

.cart-modal-msg{
    margin-top: 25%;
    
}

.box-title-modal-msg{
    background-color: #006633;
    color: #e49604;
    border: 2px solid #e49604;
    border-radius: 2rem;
}

.not-found-cart{
    color: #e49604;
}

.btn-purchase-cart{
    background-color: #222;
    border: 2px solid #999;
    color: #999;
}

.btn-purchase-cart:hover{
    background-color: #264490;
    border: 2px solid #e49604;
    color: #e49604;
}