

.box-magiccard{
    animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    color: #e49604;
    z-index: 2;
    background-color: #333;
    border:3px solid #006633;
    border-radius: 1rem;
    transition: 0.6s;
}

.box-magiccard :hover{
    transition: 0.6s;
}


.img-color-magiccard{
    width: 1.2rem;
}

.rarity-magiccard {
    transition: 0.6s;
}

.title-magiccard{
    font-size: 1rem;
    transition: 0.6s;
    min-height: 2rem;
}

.type-magiccard{
    font-size: 0.8rem;
    transition: 0.6s;
    min-height: 2.6rem;
}

.info-magiccard{
    position: relative;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    user-select: none;
    transition: 0.6s;
}


.info-magiccard:after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
    user-select: none;
    background: -webkit-gradient(linear, left top, right top, from(rgba(51, 51, 51, 0)), to(#333), color-stop(50%, #333));
}


.img-magiccard{
    max-height:6rem;
}

.btn-detail{
    border: 2px solid #264490;
    color:#e49604;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
    user-select: none; 
}

.btn-detail:hover{
    border: 2px solid #e49604;
    color:#e49604;
    text-decoration: underline;
    background-color: #006633;
    transition: 0.6s;
    cursor: pointer;
    user-select: none; 
}


.button-favorites-img path {
    fill:transparent;
    stroke:#7e001e;
    transition: all 0.6s;
}

.button-favorites-img path:hover {
    fill:#e49604;
    transition: all 0.6s;
}

.button-cart-img path {
    fill:transparent;
    stroke:#264490;
    transition: all 0.6s;
}

.button-cart-img path:hover {
    fill:#e49604;
    transition: all 0.6s;
}

.add-favorite path{
    transition: all 0.6s;
    fill:#7e001e;
}

.add-favorite path:hover{
    transition: all 0.6s;
    scale:1.1;
}

.add-cart path{
    transition: all 0.6s;
    fill:#264490;
}

.add-cart path:hover{
    transition: all 0.6s;
    scale:1.1;
}

.add-favorite, .add-cart, .button-favorites-img, .button-cart-img{
    cursor: pointer; 
}



@media (max-width: 580px) {

    .img-magiccard {
        max-height: 20rem;
        border-radius: 0.8rem;
    }

}

