.bg-input-register, .bg-input-register::placeholder{
    background-color: #333;
    color:#999;
    transition: 0.6s;
}

.bg-input-register:focus{
    background-color: #333;
    color:#fff;
    transition: 0.6s;
}

.button-register{
    background-color: transparent;
    transition: 0.6s;
}

.button-register:hover{
    background-color: #999;
    transition: 0.6s;
}

.label-register-user{
    background-color: #999;
    color:#fff;
    user-select: none;  
}

.msg-update-info-user{
    background-color: #e49604;
    color:#006633;
}

.button-login{
    border:2px solid #999;
    color:#999;
    transition: 0.6s;
}
.button-logout{
    border:2px solid #999;
    color:#999;
    transition: 0.6s;
}
.button-login:hover{
    border:2px solid #264490;
    background-color: #e49604;
    color:#264490;
    transition: 0.6s;
}
.button-logout:hover{
    border:2px solid #264490;
    background-color: #e49604;
    color:#264490;
    transition: 0.6s;
}


.text-purchases{
    color:#999; 
    border-bottom: 2px solid #7e001e;
}

.row-purchases-user{
    color:#e49604;
    border-bottom: 2px solid #006633;
}

.title-id-purchase{
    color: #999;
    border-bottom: 2px solid #264490;
}
.user-card-name{
    font-size: 0.8rem;
}
